.main-content {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hero-section button {
  max-width: 140px;
}
