.box {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 4px #1414141a, 0px 8px 15px #1414141f;
  border-radius: 6px;
}
