.button {
  border: unset;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--primary-color-light);
}

.button:active {
  background-color: var(--primary-color);
}
