.checkbox-container {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5px 7px;
  cursor: pointer;
}

.checkbox-label-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--text-primary);
  user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
}

.checkbox-custom {
  position: relative;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 6px;
  display: block;
}

.checkbox-border {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.checkbox-glow {
  position: absolute;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  background: #2469f61a;
  border-radius: 9px;
  visibility: hidden;
  pointer-events: none;
}

.checkbox-checkmark {
  position: absolute;
  visibility: hidden;
  inset: 16%;
}

.checkbox-checkmark svg {
  width: 100%;
  height: 100%;
}

/* Hover State */
.checkbox-input:hover + .checkbox-custom .checkbox-border {
  border: 1px solid #bdbdbd;
  opacity: 1;
}

.checkbox-input:hover + .checkbox-custom .checkbox-checkmark {
  visibility: visible;
}

.checkbox-input:hover + .checkbox-custom .checkbox-checkmark svg path {
  stroke: #e3e3e3;
}

/* Active/Pressed State */
.checkbox-input:active + .checkbox-custom .checkbox-glow {
  visibility: visible;
}

.checkbox-input:active + .checkbox-custom .checkbox-border {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  opacity: 1;
}

.checkbox-input:active + .checkbox-custom .checkbox-checkmark {
  visibility: visible;
}

.checkbox-input:active + .checkbox-custom .checkbox-checkmark svg path {
  stroke: #878787;
}

/* Checked State */
.checkbox-input:checked + .checkbox-custom {
  background: var(--secondary-color);
}

.checkbox-input:checked:hover + .checkbox-custom {
  background: var(--secondary-color-light);
}

.checkbox-input:checked:active + .checkbox-custom {
  background: var(--secondary-color);
}

.checkbox-input:checked + .checkbox-custom .checkbox-border {
  display: none;
}

.checkbox-input:checked + .checkbox-custom .checkbox-checkmark {
  visibility: visible;
}

.checkbox-input:checked + .checkbox-custom .checkbox-checkmark svg path {
  stroke: #ffffff;
}

.checkbox-input:checked:hover + .checkbox-custom .checkbox-checkmark svg path {
  stroke: #ffffff;
}
