.upper,
.lower {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.center {
  padding: 20vh 0vw;
}