.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 4px #1414141a, 0px 8px 15px #1414141f;
  border-radius: 6px;
}

.checkboxes-container {
  max-height: 164px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.checkboxes-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

.box-button {
  margin-block: 10px;
}

.toast-message {
  position: absolute;
  bottom: -100px;
  padding: 10px;
  border-radius: 6px;
  background-color: #e8f5e9;
  color: #2e7d32;
  font-size: 14px;
}
.error{
  color: #c62828;
  background-color: #ffebee;
}